<!DOCTYPE html>
<html>
<head>
    <title>Predicting Student Performance using Machine Learning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Predicting Student Performance using Machine Learning</h1>
        <p>Welcome to the Predicting Student Performance using Machine Learning project. This project aims to predict student performance based on various factors such as gender, ethnicity, parental level of education, lunch type, test preparation course, and exam scores.</p>
        <p>We have trained a machine learning model using a dataset of student information and their corresponding exam scores. This model can provide insights into predicting a student's performance in mathematics.</p>
        <p>To explore the project further, you can check out the GitHub repository and access the Flask API for making predictions.</p>
        <div class="button-container">
            <a href="https://github.com/skprasad117/Predicting-Student-Performance-Using-Machine-Learning" class="btn" target="_blank">GitHub Repository</a>
            <a href="/predictdata" class="btn">Web App</a>
        </div>
    </div>
</body>
</html>
